<h1>Welcome to **The Chappelle Show ** </h1>
<h4>
<%= link_to 'Lets make a NEW JOKE', new_joke_path %> <br>
</h4>

<%=image_tag("welcome.gif", alt: "welcome")%> <br>



<table style="width:50%" >
  <tr>
      <th>Title</th>
      <th>Description</th>
  </tr>
  <% @jokes.each do |joke| %>
  <tr>
      <td align="center"> <%= joke.title %></td>
      <td align="center"> <%= joke.description %></td>
      <td align="center"> <%= link_to 'New Joke', new_joke_path %> | </td>
      <td align="center"> <%= link_to 'Edit', edit_joke_path(joke[:id]) %> | </td>
      <td align="center"> <%= link_to 'Delete', joke_path(joke[:id]), method: :delete, data: {confirm: "are you sure?"} %> </td>
  </tr>
<% end %>
</table>
