<h1>YESSSSSS the Jokes!!!!!!!!!!</h1>
<%=image_tag("show.gif", alt: "yes baby!")%>

<p>Title: <%= @joke.title %></p>
<p>Description: <%= @joke.description %></p>
<%= link_to 'Jokes', jokes_path %> <br>

<%= link_to 'link to New Joke', new_joke_path %>
